{% extends "base/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <input  type="text"  placeholder="First Name" id='name1' required>
    </div>
    <div class="col-md-6">
        <input  type="text"  placeholder="Last Name" id='name1' required>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <input  type="text"  placeholder="Email" id='name1' required>
    </div>
    <div class="col-md-6">
        <input  type="text"  placeholder="Password" id='name1' required>
    </div>
</div>
<div class="col-md"><a  href="#" class="btn btn-outline-info">Signup</a> </div>


{% endblock content %}