<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loginpage</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <label>email/Password</label>
    <input type="text" name="un"/>
    {% if email_error %}
    <script> alert("email is wrong")</script>
    {% endif %}
    <label>password</label>
    <input type="text" name="password"/>
    {% if password_error %}
    <script>alert ("password is wrong")</script>
    {% endif %}
    {% if active_error %}
    <script>alert ("you are not activate currently<br> Check your email")</script>
    {% endif %}
    <br/>
    <input type="submit" value="login "/>


</form>
</body>
</html>
